
@{
    ViewData["Title"] = "CadastrarPromocao";
}

<h1>CadastrarPromocao</h1>


    <div class="form-group">
        <label for="exampleInputEmail1">Empresa</label>
        <input type="text" class="form-control" id="Empresa" >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Chamada</label>
        <input type="text" class="form-control" id="Chamada" >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Regras</label>
        <input type="text" class="form-control" id="Regras">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Endereço Url</label>
        <input type="text" class="form-control" id="EnderecoURL">
    </div>
    <button type="submit" class="btn btn-primary" id="BtnCadastrar">Enviar</button>

<div id="Mensagem">

</div>